/* ==UserStyle==
@name           Stylus Dark
@namespace      fuxia.me
@version        1.0.1
@description    Enjoy writing stylesheets in dark mode!
@author         Fuxia
@homepageURL    https://gitlab.com/fuxia/dark-stylus
@supportURL     https://gitlab.com/fuxia/dark-stylus/-/issues
@updateURL      https://gitlab.com/fuxia/dark-stylus/-/raw/master/stylus.user.css
@license        MIT
@var color bgColor "Background" #333333
@var color textColor "Text color" #cccccc
@var color linkColor "Link color" #4b93c3
@var number codeSize "Code font size" 12
@var text codeLineHeight "Code line height" 1.2
@preprocessor stylus
==/UserStyle== */
@-moz-document url-prefix(chrome-extension), 
url-prefix(moz-extension) {

	body[id|=stylus] {
		::selection {
			color: bgColor !important;
			/* See https://stackoverflow.com/q/7224445 */
			background: alpha(textColor, 0.996) !important;
		}
		.dropdown-content,
		#help-popup,
		#options,
		div[id|=message-box],
		#options-title {
			color: textColor !important;
			background: bgColor !important;
		}
		svg {
			fill: textColor !important;
		}
		input,
		textarea,
		select {
			color: textColor !important;
			background: lighten(bgColor, 10%) !important;
			border: 1px solid lighten(bgColor, 15%) !important;
		}
		#header {
			border-right: 1px solid lighten(bgColor, 7%) !important;
		}
		button {
			color: lighten(textColor, 10%) !important;
			background: lighten(bgColor, 10%) !important;
			border: 1px solid lighten(bgColor, 15%) !important;
			border-radius: 6px !important;
			line-height: 1.7 !important;

			&:disabled {
				color: darken(textColor, 20%) !important;
			}
		}
		.option {
			padding: 5px 0 !important;
		}
		label:hover {
			color: lighten(textColor, 10%) !important;
			background: lighten(bgColor, 10%) !important;
		}
		a {
			color: linkColor !important;
		}
		#message-box-title {
			background: lighten(bgColor, 8%) !important;
		}
		#message-box > div {
			border: 1px solid lighten(bgColor, 8%) !important;
		}
		#message-box-contents p {
			line-height: 1.7 !important;
		}
		#message-box-close-icon {
			background: transparent !important;
		}
		label[class|=config] {
			border-color: lighten(bgColor, 15%) !important;
		}
		pre {
			font-size: unit(codeSize, px) !important;
			line-height: codeLineHeight !important;
		}

		color: textColor !important;
		background: bgColor !important;
	}
}